.box { 
    background-color: chocolate; 
    height: 200px ;
    width: 300px;
} 

.responsive-box { 
    background-color: burlywood; 
    height: 50vh; 
    width: 50vw;
} 


.padded-text { 
    background-color: cadetblue; 
    padding: 20px;
} 

.custom-padding { 
    background-color:coral; 
    padding-top: 10px;
    padding-bottom: 10px; 
    padding-left: 20px; 
    padding-right: 20px;
} 
 
.border-box { 
    background-color: darkcyan; 
    border: black 2px solid; 
} 

.rounded-border { 
    background-color: darkgray; 
    border: red 3px dotted;
    border-radius: 15px;  
    
} 

.margin-text { 
    background-color: darkgreen;
    margin: 30px;
} 

.custom-margin {  
    background-color: darkkhaki;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 40px; 
    margin-right: 40px;
} 

.inline-element { 
    background-color: darkslategray; 
    display: inline;
} 

.block-element { 
    background-color: aquamarine; 
    display: block;
} 

.inline-block-element 
{ 
    background-color: darkorchid; 
    display: inline-block;
} 

.hidden-element { 
    background-color: forestgreen; 
    display: none;
} 

.visible-element { 
    background-color: yellowgreen; 
    display: visible;
}